
*{
    background-color: #FEE600;
    margin: 0;
    padding: 0;
    font-family: 'BabasKai-Regular';
}

TextField {
    padding: 10;
    margin: 10;
    color: black;
    font-size: 20;
    border-bottom-width: 1px;
    border-color: black;
    text-align: left;
}

.txt-pass {
    background-color: white;
    color: black;
    text-transform: uppercase;
}

.action-bar{
    background-color: #FEE600;
    color: #34005C;
}
.logo{
    background-color: #FEE600;
    padding: 0 50% 0 50%;
}
.btn{
  font-family: 'Atlantic_Cruise-Demo';
  color: white;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  background: #34005C;
  padding: 10;
  margin: 10px;
}

.form{
    background-color: white;
    border-width: 5px;
    border-color: black;
}

.input-text{
    padding: 5px;
    margin: 5px;
    background-color: white;
    text-align: left;
    color:black;
}
.home-item{
    background: white;
}
.item-top{
    padding-top: 100px;
}
.item-bottom{
    padding-bottom: 20px;
}
.home-label{
    text-align: center;
    font-family: 'Atlantic_Cruise-Demo';
    color: black;
}

.texto-localizacion {
    font-family: 'BebasKai-Regular';
    font-weight: bold;
    font-size: 20;
    background-color: white;
}
.image-container{
    background-color: #FEE600;
}

.partida-modal{
    background-color: white;
    color: black;
    font-family: 'BebasKai-Regular';
}

.input-modal{
    color:black;
    padding: 3px;
    margin: 3px;
}
.titulo-modal{
    font-family: 'Atlantic_Cruise-Demo';
    padding: 3px;
    margin: 3px;
    font-weight: bold;
    text-align: center;
}

.profile-container{
    width: 80%;
    height: 60%;
    vertical-align: middle;
    horizontal-align: center;
    background-color: white;
    border-radius: 12px;
    border-width: 5px;
    border-color: black;
}
.profile-label{
    background-color:white;
    color: black;
    font-family: 'Atlantic_Cruise-Demo';
    text-align: 'center';
    padding: 5px;
    margin: 5px;
}
.profile-field{
    background-color:white;
    color: black;
    font-family: 'KebasKai-Regular';
    padding: 5px;
    margin: 5px;
}